.form-radios{
	width:100%;
	float:left;
	margin-top:60px!important;
	clear:both;
}
.form-radios input[type=radio]{
	margin-right:15px;
	cursor: pointer;
	background: #e1e1e1;
}
.form-radios .form-item{
	width: 70px;
	margin: 0 30px 90px 0!important;
	float: left;
}
.form-radios .form-item label{
	margin-top: -40px!important;
	border: 2px solid #fff!important;
	outline: 1px solid #ddd!important;
	position: absolute!important;
	display: block;
	width: 40px;
	height: 0px;
	line-height: 30px;
	padding-top: 40px!important;
	cursor: pointer;
	text-align: center;
	color: #444;
	border: 1px solid #fff;
	outline: 2px solid #a3af7f;
	font-weight: bold;
	background:#333
}


.form-item label[for="edit-built-in-skins-orange-lightorange-lightcss"] { background: #FFB43F; }
.form-item label[for="edit-built-in-skins-bluebluecss"] { background: #3399ff; }
.form-item label[for="edit-built-in-skins-bonebonecss"] { background: #D6D3C1; }
.form-item label[for="edit-built-in-skins-brownbrowncss"] { background: #c47f39; }
.form-item label[for="edit-built-in-skins-cyancyancss"] { background: #008080; }
.form-item label[for="edit-built-in-skins-greengreencss"] { background: #83b038; }
.form-item label[for="edit-built-in-skins-orangeorangecss"] { background: #ec741c; }
.form-item label[for="edit-built-in-skins-purplepurplecss"] { background: #894997; }
.form-item label[for="edit-built-in-skins-redredcss"] { background: #e1483f; }
.form-item label[for="edit-built-in-skins-yellowyellowcss"] { background: #ffd700; }


.form-item label[for="edit-background-for-boxed-layout-none-background"] { background-color:#FFF!important }
.form-item label[for="edit-background-for-boxed-layout-wood"] { background:url(../bg/retina_wood.jpg) }
.form-item label[for="edit-background-for-boxed-layout-crossed"] { background:url(../bg/crossed_stripes.jpg) }
.form-item label[for="edit-background-for-boxed-layout-fabric"] { background:url(../bg/classy_fabric.jpg) }
.form-item label[for="edit-background-for-boxed-layout-linen"] { background:url(../bg/low_contrast_linen.jpg) }
.form-item label[for="edit-background-for-boxed-layout-diagmonds"] { background:url(../bg/diagmonds.jpg) }

.form-item label[for="edit-background-for-boxed-layout-triangles"] { background:url(../bg/triangles.jpg) }
.form-item label[for="edit-background-for-boxed-layout-black-thread"] { background:url(../bg/black_thread.jpg) }
.form-item label[for="edit-background-for-boxed-layout-checkered-pattern"] { background:url(../bg/checkered_pattern.jpg) }
.form-item label[for="edit-background-for-boxed-layout-black-mamba"] { background:url(../bg/black_mamba.jpg) }

.form-item label[for="edit-background-for-boxed-layout-back-pattern"] { background:url(../bg/back_pattern.jpg) }
.form-item label[for="edit-background-for-boxed-layout-vichy"] { background:url(../bg/vichy.jpg) }
.form-item label[for="edit-background-for-boxed-layout-diamond-upholstery"] { background:url(../bg/diamond_upholstery.jpg) }
.form-item label[for="edit-background-for-boxed-layout-lyonnette"] { background:url(../bg/lyonnette.jpg) }
.form-item label[for="edit-background-for-boxed-layout-graphy"] { background:url(../bg/graphy.jpg) }
.form-item label[for="edit-background-for-boxed-layout-subtlenet2"] { background:url(../bg/subtlenet2.jpg) }


.form-radios .form-item-active label{
	border: 1px solid #fff!important;
	outline: 2px solid #a3af7f!important;
	font-weight: bold!important;
}
.form-item .form-item{
	padding:15px 0px!important;
}